
* {
	box-sizing: border-box;
}


/**/
img {
	max-width:100%;
}

html { 
	font-size: 1em;
	}	
/*container definitons and related, etc*/

.singleline {
	flex-wrap:nowrap;
}

@media(max-width:767px) {
	.m-text-center {
		text-align:center;
	}
	.stack-text-center {
		text-align:center;
	}
	
	html {
		font-size:1.15em;
	}
		.m-first{
			order:-1;
		}
		
		.m-last{
			order:999;
		}	
		
		.stack-first, .first{
			order:-1;
		}
		
		.stack-last, .last{
			order:999;
		}
	/*stackable, half and quarter for container, row and column*/
	.m-break {
		width:100%;
	}
	.flexbox > .m-break {
		width:auto;
		flex-basis: 100%;
	}
	.m-singleline {
		flex-wrap:nowrap;
	}
}
@media(min-width:768px) and (max-width:900px){/*from 568px to 990px (tablets only - biggest phones are 480px)*/
	
	html {
		font-size:0.9em;
	}
	.stack-text-center {
		text-align:center;
	}
	.t-text-center{
		text-align:center;
	}
	
	.stack-first, .first{
		order:-1;
	}
	.t-first {
		order:-1;
	}
	.t-last {
		order:999;
	}
	.stack-last, .last{
		order:999;
	}
	.t-break {
		width:100%;
	}
	.flexbox > .t-break {
		width:auto;
		flex-basis: 100%;
	}
	.t-singleline {
		flex-wrap:nowrap;
	}
}

@media(min-width:901px) {/**/


	.c-text-center{
		text-align:center;
	}
	
.c-break {
	width:100%;
}
.flexbox > .c-break {
	width:auto;
	flex-basis: 100%;
}

.c-singleline {
	flex-wrap:nowrap;
}
}

	
/*centers, alignment, etc*/

.all-center {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:center;
	text-align:center;
}
.items-centralized {
	align-items:center;
	justify-content:center;
	display:flex;
	flex-wrap:wrap;
}
.content-centralized {
	align-content:center;
	justify-content:center;
	display:flex;
	flex-wrap:wrap;
}

.text-center {
	text-align:center;
}
.break {
    width: 100%!important;
}
